[submodule "core/lib/googletest"]
	path = core/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "core/lib/NFHTTP"]
	path = core/lib/NFHTTP
	url = https://github.com/gorolykmaxim/NFHTTP.git
