html, body, .serio-background {
  height: 100%;
  margin: 0;
  background-color: #000000;
  color: #FFFFFF;
  user-select: none;
}

.serio-full-height {
  height: 100%;
}

.serio-text-font {
  font-family: Roboto, sans-serif;
}

.serio-background-color-primary {
  background-color: #FB8C00;
}

.serio-text-color-primary {
  color: #FB8C00;
}

.serio-text-color {
  color: #FFFFFF;
}

.serio-text-color-complementary {
  color: #000000;
}

.serio-padding {
  padding: 8px;
}

.serio-margin {
  margin: 8px;
}

.serio-margin-before {
  margin-left: 8px;
}

.serio-margin-after {
  margin-right: 8px;
}

.serio-horizontal-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.serio-growable {
  flex-grow: 1;
}

.serio-form-actions {
  display: flex;
  justify-content: flex-end;
}

::-webkit-scrollbar {
  height: 6px;
  padding: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #FB8C00;
  border-radius: 8px;
}
