.serio-button-disabled {
    background-color: #607D8B;
    color: #455A64;
}

.serio-button-disabled:hover {
    cursor: auto;
}

.serio-button-enabled {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FB8C00;
}

.serio-button-enabled:hover, .serio-button-enabled:focus {
    background-color: #FB8C00;
    color: #000000;
    cursor: pointer;
}

.serio-button {
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
    font-stretch: 100%;
    height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    outline-style: none;
}
