.serio-icon-button {
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    font-size: 0;
    padding: 0;
}

.serio-icon-button-enabled {
    color: #FB8C00;
}

.serio-icon-button-disabled {
    color: #455A64;
}

.serio-icon-button-normal-size {
    font-size: 1.5rem !important;
}

.serio-icon-button-medium-size {
    font-size: 3rem !important;
}

.serio-icon-button-large-size {
    font-size: 8rem !important;
}

.serio-icon-button-enabled.serio-icon-button-hoverable:hover, .serio-icon-button-enabled:focus {
    background-color: #FB8C00;
    color: #000000;
    cursor: pointer;
    outline-style: none;
}
