.serio-list-tile {
    color: #FB8C00;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.serio-list-tile:focus {
    outline-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.serio-list-tile-hoverable:hover {
    outline-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.serio-list-tile-icon-placeholder {
    color: transparent;
}

.serio-list-tile-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
}
