.serio-text-headline-1 {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 300;
}

.serio-text-headline-2 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 300;
}

.serio-text-headline-3 {
    font-size: 3rem;
    line-height: 3.125rem;
    font-weight: 400;
}

.serio-text-headline-4 {
    font-size: 2.125rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.serio-text-headline-5 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

.serio-text-headline-6 {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 600;
}

.serio-text-subtitle-1 {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
}

.serio-text-subtitle-2 {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 500;
}

.serio-text-body-1 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.serio-text-body-2 {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.serio-text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.serio-text-nowrap {
    white-space: nowrap;
}

.serio-text-wrap {
    word-break: break-all;
}
