.serio-edit-show-crawler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.serio-edit-show-crawler-container {
    display: flex;
    flex-direction: column;
}

.serio-edit-show-crawler-edit-line {
    flex-grow: 1;
    margin: 8px 0;
}

.serio-edit-show-crawler-actions {
    display: flex;
    justify-content: flex-end;
}
