.serio-edit-show-crawler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serio-edit-show-crawler-container {
    display: flex;
    flex-direction: column;
}

.serio-edit-show-crawler-edit-line {
    margin: 8px 0;
}
