.serio-show-player-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.serio-show-player-controls {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: space-between;
}

.serio-show-player-buffering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serio-show-player-title {
    display: flex;
    align-items: center;
}

.serio-show-player-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serio-show-player-navigation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.serio-show-player-progress {
    display: flex;
    align-items: center;
}

.serio-show-player-episode-navigation {
    display: flex;
    align-items: center;
}

.serio-show-player-padding {
    padding: 24px;
}

.serio-show-player-margin {
    margin: 24px;
}

.serio-show-player-horizontal-margin {
    margin: 0 24px;
}

.serio-show-player-margin-after {
    margin-right: 24px;
}
