$primary: #FF9800;
$body-bg: #000000;
$body-color: #FFFFFF;
$text-muted: #888888;
$input-bg: $body-bg;

@import "../node_modules/bootstrap/scss/bootstrap";

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: column;
}

html, body {
  margin: 0;
  height: 100%;
}

.full-height {
  height: 100%;
}

.not-selectable {
  user-select: none;
  cursor: default;
}

.serio-title {
  font-size: 90px;
  font-family: "Passion One";
}

.center-layout {
  @include flex(center, center);
}

.center-content {
  @include flex(center, stretch);
}

.smartphone-max-width {
  max-width: 448px;
}

.a-slow {
  transition: opacity 1s, transform 1s;
}

.a-fast {
  transition: opacity 250ms, transform 250ms;
}

.a-fade {
  opacity: 0;
}

.a-scale {
  transform: scale(0.8);
}