$primary: #FF9800;
$body-bg: #000000;
$body-color: #FFFFFF;
$text-muted: #888888;
$input-bg: $body-bg;

@import "../node_modules/bootstrap/scss/bootstrap";

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: column;
}

html, body {
  margin: 0;
  height: 100%;
}

.full-height {
  height: 100%;
}

.not-selectable {
  user-select: none;
  cursor: default;
}

.serio-title {
  font-size: 90px;
  font-family: "Passion One";
}

.center-layout {
  @include flex(center, center);
}

.center-content {
  @include flex(center, stretch);
}

.smartphone-max-width {
  max-width: 448px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.a-slow {
  animation-duration: 1s;
}

.a-fast {
  animation-duration: 125ms;
}

.a-fade {
  animation-name: fade;
}

.a-scale {
  animation-name: scale;
}

.a-reverse {
  animation-direction: reverse;
}